# 1) Setup
## Modules

In [35]:
# Libraries
import pandas as pd

## Data

In [36]:
# Import data
df_business = pd.read_parquet('data/ATML2024_businesses.parquet')

df_Train_reviews = pd.read_parquet('data/ATML2024_reviews_train.parquet')

df_users = pd.read_parquet('data/ATML2024_users.parquet')

In [37]:
# General information on the datasets
# USER DATASET
print(df_users.head())
df_users.info()
# List of categorical variables
print(df_users.select_dtypes(include=['object', 'category']).columns.tolist())

                  user_id    name           user_since   useful    funny  \
0  w7IdXgBVXKjZS5UYDO8cVq  Walker  2007-01-25 16:47:26   7217.0   1259.0
1  gJrXd1wa1EZ2-_UoRgW41j  Daniel  2009-01-25 04:35:42  43091.0  13066.0
2  gvz2VtPxToEXh0KFQYXnW2   Steph  2008-07-25 10:41:00   2086.0   1010.0
3  AIdshsLNMm50o7qXSAeDZS    Gwen  2005-11-29 04:38:33    512.0    330.0
4  QGFh-RoJ4HscnnE-yMl5Ah   Karen  2007-01-05 19:40:59     29.0     15.0

      cool                                    premium_account  friends  \
0   5994.0                                               2007  14995.0
1  27281.0  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...   4646.0
2   1003.0                           2009,2010,2011,2012,2013    381.0
3    299.0                                     2009,2010,2011    131.0
4      7.0                                               None     27.0

     fans  compliment_hot  compliment_more  compliment_profile  \
0   267.0           250.0             65.0                55.0
1  3138.0          1145.0            264.0               184.0
2    52.0            89.0             13.0                10.0
3    28.0            24.0              4.0                 1.0
4     1.0             1.0              1.0                 0.0

   compliment_cute  compliment_list  compliment_note  compliment_plain  \
0             56.0             18.0            232.0             844.0
1            157.0            251.0           1847.0            7054.0
2             17.0              3.0             66.0              96.0
3              6.0              2.0             12.0              16.0
4              0.0              0.0              1.0               1.0

   compliment_cool  compliment_funny  compliment_writer
0            467.0             467.0              239.0
1           3131.0            3131.0             1521.0
2            119.0             119.0               35.0
3             26.0              26.0               10.0
4              0.0               0.0                0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747468 entries, 0 to 747467
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             747468 non-null  object
 1   name                747457 non-null  object
 2   user_since          747468 non-null  object
 3   useful              747468 non-null  float64
 4   funny               747468 non-null  float64
 5   cool                747468 non-null  float64
 6   premium_account     57420 non-null   object
 7   friends             747468 non-null  float64
 8   fans                747468 non-null  float64
 9   compliment_hot      747468 non-null  float64
 10  compliment_more     747468 non-null  float64
 11  compliment_profile  747468 non-null  float64
 12  compliment_cute     747468 non-null  float64
 13  compliment_list     747468 non-null  float64
 14  compliment_note     747468 non-null  float64
 15  compliment_plain    747468 non-null  float64
 16  compliment_cool     747468 non-null  float64
 17  compliment_funny    747468 non-null  float64
 18  compliment_writer   747468 non-null  float64
dtypes: float64(15), object(4)
memory usage: 108.4+ MB

In [54]:
# REVIEWS DATASET
print(df_Train_reviews.head())
df_Train_reviews.info()
# List of categorical variables
print(df_Train_reviews.select_dtypes(include=['object', 'category']).columns.tolist())

   id                 user_id             business_id  rating  useful  funny  \
0   0  gRWsscMiClFGIh2YUjNInT  Ab1ejQzv4eJRLgAlj7tzKT       5       1      0
1   1  Q3RXWVFtLo4I7MC85ELPh7  QkRhOowLAGVZC5gn4RLkjH       5       1      0
2   2  AD2z6qhmVcRJkywa1KsEFG  ADWVkizi8gKjj07mn8NiMe       4       0      0
3   3  A8HQot2boCpoPIThfHV5iy  wkk30dWY49cSiDU3FKg8FH       5       0      1
4   4  Q7UzjD01YnimUOsvAEQ7JK  wUjnssL0bJIEqdqJs8M0GV       5       0      0

   cool                                               text  \
0     0  Sometimes you just want a cup of coffee, in a ...
1     0  Mr. Clyde stopped at our house and asked us if...
2     0  One of my favorite places to grab a quick bit ...
3     0  Wow, this place is huge! Life size aquarium an...
4     0  I ordered 3 large pizzas and  wings for my fam...

                  date
0  2013-12-22 23:45:01
1  2020-02-11 01:00:32
2  2014-05-28 19:05:26
3  2014-01-20 23:42:44
4  2020-01-29 00:20:34
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1050000 non-null  int64
 1   user_id      1050000 non-null  object
 2   business_id  1050000 non-null  object
 3   rating       1050000 non-null  int64
 4   useful       1050000 non-null  int64
 5   funny        1050000 non-null  int64
 6   cool         1050000 non-null  int64
 7   text         1050000 non-null  object
 8   date         1050000 non-null  object
dtypes: int64(5), object(4)
memory usage: 72.1+ MB
['user_id', 'business_id', 'text', 'date']

In [53]:
# BUSINESS DATASET
print(df_business.head())
df_business.info()
# List of categorical variables
print(df_Train_reviews.select_dtypes(include=['object', 'category']).columns.tolist())

              business_id                      name  \
0  wPYArZCy3AETdTjB-x3fpm             The UPS Store
1  QQNIWVsnAT_iKiKriWrFUt                    Target
2  wm9eoqjytVbC7dQcM4WSTM        St Honore Pastries
3  AfVDXGIKBUE0EdTw_6cMWm  Perkiomen Valley Brewery
4  QjvanH64QUduo6E-8F33FC            Sonic Drive-In

                           address          city state postal_code   latitude  \
0  87 Grasso Plaza Shopping Center        Affton    MO       63123  38.551126
1             5255 E Broadway Blvd        Tucson    AZ       85711  32.223236
2                      935 Race St  Philadelphia    PA       19107  39.955505
3                    101 Walnut St    Green Lane    PA       18054  40.338183
4                    615 S Main St  Ashland City    TN       37015  36.269593

    longitude                                         attributes  \
0  -90.335695             {'BusinessAcceptsCreditCards': 'True'}
1 -110.880452  {'BikeParking': 'True', 'BusinessAcceptsCredit...
2  -75.155564  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
3  -75.471659  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
4  -87.058943  {'BusinessParking': 'None', 'BusinessAcceptsCr...

                                          categories  \
0  Shipping Centers, Local Services, Notaries, Ma...
1  Department Stores, Shopping, Fashion, Home & G...
2  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
3                          Brewpubs, Breweries, Food
4  Burgers, Fast Food, Sandwiches, Food, Ice Crea...

                                               hours
0  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
1  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
2  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
3  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
4  {'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138210 entries, 0 to 138209
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  138210 non-null  object
 1   name         138210 non-null  object
 2   address      133772 non-null  object
 3   city         138210 non-null  object
 4   state        138210 non-null  object
 5   postal_code  138145 non-null  object
 6   latitude     138210 non-null  float64
 7   longitude    138210 non-null  float64
 8   attributes   126589 non-null  object
 9   categories   138136 non-null  object
 10  hours        117852 non-null  object
dtypes: float64(2), object(9)
memory usage: 11.6+ MB
['user_id', 'business_id', 'text', 'date']

## Data quality assessment and profiling
1. Categorical: 
	- count
	- count distinct
	- assess unique values
2. Numerical: 
	- count
	- min
	- max


Do we have missing data ?
Are there variables that are numerical but really should be categorical?

In [51]:
# Check for missing values
print("\nBusiness dataset: \n",df_business.isnull().sum())
print("\nTrain reviews dataset: \n",df_Train_reviews.isnull().sum())
print("\nUsers dataset: \n",df_users.isnull().sum() )
# Remove missing values from the datasets
#df_business = df_business.dropna()
#df_users = df_users.dropna()

# Identify the unique values in each dataset
## Business dataset
print("\nBusiness: Description\n",df_business.describe())
print("\nBusiness: Unique values\n",df_business.nunique())
## Reviews dataset
print("\nTrain reviews: Description\n",df_Train_reviews.describe())
print("\nTrain reviews: Unique values\n",df_Train_reviews.nunique)
## Users dataset
print("\nUser dataset: Description\n", df_users.describe())
print("\nUser dataset: Unique \n", df_users.nunique())

# Categorical variables exploration
# Numerical variables exploration
# Numerical variables exploration

Business dataset:
 business_id        0
name               0
address         4438
city               0
state              0
postal_code       65
latitude           0
longitude          0
attributes     11621
categories        74
hours          20358
dtype: int64

Train reviews dataset:
 id             0
user_id        0
business_id    0
rating         0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

Users dataset:
 user_id                    0
name                      11
user_since                 0
useful                     0
funny                      0
cool                       0
premium_account       690048
friends                    0
fans                       0
compliment_hot             0
compliment_more            0
compliment_profile         0
compliment_cute            0
compliment_list            0
compliment_note            0
compliment_plain           0
compliment_cool            0
compliment_funny           0
compliment_writer          0
dtype: int64

Business: Description
             latitude      longitude
count  138210.000000  138210.000000
mean       36.648027     -89.363649
std         5.841371      14.928374
min        27.555127    -120.095137
25%        32.187324     -90.355706
50%        38.772051     -86.121655
75%        39.953487     -75.419145
max        53.679197     -73.200457

Business: Unique values
 business_id    138210
name           105049
address        113599
city             1361
state              27
postal_code      3190
latitude       125357
longitude      122162
attributes      83472
categories      77833
hours           47058
dtype: int64

Train reviews: Description
                  id        rating        useful         funny          cool
count  1.050000e+06  1.050000e+06  1.050000e+06  1.050000e+06  1.050000e+06
mean   5.249995e+05  3.746190e+00  1.183533e+00  3.266943e-01  4.975705e-01
std    3.031090e+05  1.479862e+00  3.298671e+00  1.671890e+00  2.192185e+00
min    0.000000e+00  1.000000e+00 -1.000000e+00  0.000000e+00  0.000000e+00
25%    2.624998e+05  3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    5.249995e+05  4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    7.874992e+05  5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    1.049999e+06  5.000000e+00  9.330000e+02  3.750000e+02  3.760000e+02

Train reviews: Unique values
 <bound method DataFrame.nunique of               id                 user_id             business_id  rating  \
0              0  gRWsscMiClFGIh2YUjNInT  Ab1ejQzv4eJRLgAlj7tzKT       5
1              1  Q3RXWVFtLo4I7MC85ELPh7  QkRhOowLAGVZC5gn4RLkjH       5
2              2  AD2z6qhmVcRJkywa1KsEFG  ADWVkizi8gKjj07mn8NiMe       4
3              3  A8HQot2boCpoPIThfHV5iy  wkk30dWY49cSiDU3FKg8FH       5
4              4  Q7UzjD01YnimUOsvAEQ7JK  wUjnssL0bJIEqdqJs8M0GV       5
...          ...                     ...                     ...     ...
1049995  1049995  wuWm8qMJM6eU-B7WiZJobo  gbfj04aLC7vLi61mmij4Q2       5
1049996  1049996  QQrjXmMK6qvtAPeAngaLR7  wddaPGexLNB5QL3X4ks5ZA       4
1049997  1049997  QrSbHVMVcOimmjIMu-zFRj  QfxnmdNUCMHLvrqxt13uWc       5
1049998  1049998  w8U0yWF50rf_1M8CwKTT3F  wsDuzPq3H2kBTk5_Y7VIyb       4
1049999  1049999  Qfi45rzn6Ejxx3gmJikZ-x  wHJ6jSTjd5-J5Tff-JXyff       1

         useful  funny  cool  \
0             1      0     0
1             1      0     0
2             0      0     0
3             0      1     0
4             0      0     0
...         ...    ...   ...
1049995       0      0     0
1049996       1      0     1
1049997       3      0     1
1049998       0      0     0
1049999      10      0     0

                                                      text  \
0        Sometimes you just want a cup of coffee, in a ...
1        Mr. Clyde stopped at our house and asked us if...
2        One of my favorite places to grab a quick bit ...
3        Wow, this place is huge! Life size aquarium an...
4        I ordered 3 large pizzas and  wings for my fam...
...                                                    ...
1049995  QT is like the Bentley of gas stations, you're...
1049996  The Salmon Dumplings, oh the Salmon Dumplings!...
1049997  So for those who don't know my reviews, I post...
1049998  Fratelli's is a great local Italian spot. When...
1049999  NEVER GET those FREE TRIAL passes. They're a S...

                        date
0        2013-12-22 23:45:01
1        2020-02-11 01:00:32
2        2014-05-28 19:05:26
3        2014-01-20 23:42:44
4        2020-01-29 00:20:34
...                      ...
1049995  2018-05-04 06:55:33
1049996  2015-07-10 04:03:02
1049997  2019-11-10 20:45:30
1049998  2016-10-30 17:36:49
1049999  2017-02-22 15:22:47

[1050000 rows x 9 columns]>

User dataset: Description
               useful          funny           cool        friends  \
count  747468.000000  747468.000000  747468.000000  747468.000000
mean       74.840044      31.100846      45.027212      61.342055
std       965.774055     605.662158     849.247796     178.325034
min         0.000000       0.000000       0.000000       0.000000
25%         1.000000       0.000000       0.000000       0.000000
50%         5.000000       1.000000       1.000000       3.000000
75%        21.000000       4.000000       5.000000      56.000000
max    206296.000000  185823.000000  199878.000000   14995.000000

                fans  compliment_hot  compliment_more  compliment_profile  \
count  747468.000000   747468.000000    747468.000000       747468.000000
mean        2.528844        3.388153         0.527842            0.350840
std        27.658841      107.391836        19.975968           23.747047
min         0.000000        0.000000         0.000000            0.000000
25%         0.000000        0.000000         0.000000            0.000000
50%         0.000000        0.000000         0.000000            0.000000
75%         1.000000        0.000000         0.000000            0.000000
max     12497.000000    25784.000000     13501.000000        14180.000000

       compliment_cute  compliment_list  compliment_note  compliment_plain  \
count     747468.00000    747468.000000    747468.000000     747468.000000
mean           0.24852         0.130927         2.688904          5.711291
std           18.05827        16.143172        94.760818        176.622435
min            0.00000         0.000000         0.000000          0.000000
25%            0.00000         0.000000         0.000000          0.000000
50%            0.00000         0.000000         0.000000          0.000000
75%            0.00000         0.000000         0.000000          0.000000
max        13654.00000     12669.000000     59031.000000     101097.000000

       compliment_cool  compliment_funny  compliment_writer
count    747468.000000     747468.000000      747468.000000
mean          5.290550          5.290550           1.992893
std         137.359405        137.359405          47.156571
min           0.000000          0.000000           0.000000
25%           0.000000          0.000000           0.000000
50%           0.000000          0.000000           0.000000
75%           0.000000          0.000000           0.000000
max       49967.000000      49967.000000       15934.000000

User dataset: Unique
 user_id               747468
name                   64742
user_since            746431
useful                  4762
funny                   3276
cool                    3962
premium_account         1107
friends                 2341
fans                     653
compliment_hot          1112
compliment_more          316
compliment_profile       312
compliment_cute          281
compliment_list          181
compliment_note          894
compliment_plain        1446
compliment_cool         1390
compliment_funny        1390
compliment_writer        740
dtype: int64

### Transform data
Ideas:
- Log when data is highly skewed.
- Binning of continuous variables.
- Simplifying of categories: Trying to aggregate to higher-level categories when it makes sense.

# Exploratory Data Analysis

## 1. Exploring individual variable

Quantify:

- _Location_:
	- mean
	- median
	- mode
	- interquartile mean
- _Spread_:
	- standard deviation
	- variance
	- range
	- interquartile range
- _Shape_:
	- skewness
	- kurtosis

For time series:
	plot summary statistics over time.

For panel data:
- Plot cross-sectional summary statistics over time
- Plot time-series statistics across the population

#### Question
- What does each field in the data look like?
    - Is the distribution skewed? Bimodal?
    - Are there outliers? Are they feasible?
    - Are there discontinuities?
- Are the typical assumptions seen in modeling valid?
    - Gaussian
    - Identically and independently distributed
    - Have one mode
    - Can be negative
    - Generating processes are stationary and isoptropic (time series)
    - Independence between subjects (panel data)

## 2. Exploring the relationship between each variable and the target

How does each field interact with the target?

Assess each relationship’s:
- Linearity
- Direction
- Rough size
- Strength
Methods:
- Bivariate visualizations
- Calculate correlation

## 3. Assessing interactions between variables

- Bivariate visualizations
- Correlation matrices
- Compare summary statistics of variable x for different categories of y

## 4. Exploring data across many dimensions

- Categorical:
    - Parallel coordinates
- Continuous
    - Principal component analysis
    - Clustering

# Feature Engineering

In [ ]:
# Removal of informationlesss variables

# Basic preprocessing

In [16]:
# Assessing columns with the same name
print(f"Column(s) name(s) present in user and business: {set(df_users.columns).intersection(set(df_business.columns))}")
print(f"Column(s) name(s) present in user and reviews: {set(df_users.columns).intersection(set(df_Train_reviews.columns))}")
print(f"Column(s) name(s) present in business and reviews: {set(df_business.columns).intersection(set(df_Train_reviews.columns))}")

Column(s) name(s) present in user and business: {'name'}
Column(s) name(s) present in user and reviews: {'useful', 'user_id', 'funny', 'cool'}
Column(s) name(s) present in business and reviews: {'business_id'}

In [17]:
df_users.rename(columns={'name': 'user_name', 'useful': 'useful_user', 'funny': 'funny_user', 'cool': 'cool_user'}, inplace=True)
df_business.rename(columns={'name': 'business_name'}, inplace=True)
df_Train_reviews.rename(columns={'useful': 'useful_review', 'funny': 'funny_review', 'cool': 'cool_review'}, inplace=True)

In [27]:
# Assessing the number of obersevations that will be lost if we merge the datasets
print(f"Number of user ids not in the reviews dataset: {len(set(df_users.user_id).difference(set(df_Train_reviews.user_id)))}")
print(f"Number of user ids not in the user dataset: {len(set(df_Train_reviews.user_id).difference(set(df_users.user_id)))}")
print(f"Number of business ids not in the reviews dataset: {len(set(df_business.business_id).difference(set(df_Train_reviews.business_id)))}") 
print(f"Number of business ids not in the business dataset: {len(set(df_Train_reviews.business_id).difference(set(df_business.business_id)))}")

Number of user ids not in the reviews dataset: 168432
Number of user ids not in the user dataset: 7
Number of business ids not in the reviews dataset: 9803
Number of business ids not in the business dataset: 0

In [31]:
# Merge the datasets
merged_reviews = pd.merge(pd.merge(df_Train_reviews, df_users, on='user_id', how='inner'), df_business, on='business_id', how='inner')
# Remove the columns that are not useful
merged_reviews.drop(columns=['id', 'user_id', 'business_id'], inplace=True)
merged_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049993 entries, 0 to 1049992
Data columns (total 34 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   rating              1049993 non-null  int64
 1   useful_review       1049993 non-null  int64
 2   funny_review        1049993 non-null  int64
 3   cool_review         1049993 non-null  int64
 4   text                1049993 non-null  object
 5   date                1049993 non-null  object
 6   user_name           1049981 non-null  object
 7   user_since          1049993 non-null  object
 8   useful_user         1049993 non-null  float64
 9   funny_user          1049993 non-null  float64
 10  cool_user           1049993 non-null  float64
 11  premium_account     258797 non-null   object
 12  friends             1049993 non-null  float64
 13  fans                1049993 non-null  float64
 14  compliment_hot      1049993 non-null  float64
 15  compliment_more     1049993 non-null  float64
 16  compliment_profile  1049993 non-null  float64
 17  compliment_cute     1049993 non-null  float64
 18  compliment_list     1049993 non-null  float64
 19  compliment_note     1049993 non-null  float64
 20  compliment_plain    1049993 non-null  float64
 21  compliment_cool     1049993 non-null  float64
 22  compliment_funny    1049993 non-null  float64
 23  compliment_writer   1049993 non-null  float64
 24  business_name       1049993 non-null  object
 25  address             1037280 non-null  object
 26  city                1049993 non-null  object
 27  state               1049993 non-null  object
 28  postal_code         1049836 non-null  object
 29  latitude            1049993 non-null  float64
 30  longitude           1049993 non-null  float64
 31  attributes          1022697 non-null  object
 32  categories          1049902 non-null  object
 33  hours               989967 non-null   object
dtypes: float64(17), int64(4), object(13)
memory usage: 272.4+ MB

In [32]:
print(f"Loss of observations: {len(df_Train_reviews) - len(merged_reviews)} obersevations") #user_ids that were not in the user dataset

Loss of observations: 7 obersevations that were uncomplete

# Models

# Models Comparison & Best Model Assessment