In [117]:
import pandas as pd
import ast as ast
import numpy as np
from typing import *
import regex as re
import matplotlib.pyplot as plt


from task_2_helpers import *
from collections import Counter

# from task2_business_KNN import classify_Kmeans

### Data Read

In [3]:
# df_business = pd.read_parquet('data/ATML2024_businesses.parquet')
df_business = pd.read_csv('data/ATML2024_businesses.csv', header=0)
print(df_business.shape, df_business.columns)
# df_Train_reviews = pd.read_parquet('data/ATML2024_reviews_train.parquet')
df_Train_reviews = pd.read_csv('data/ATML2024_reviews_train.csv', header=0)
print(df_Train_reviews.shape, df_Train_reviews.columns)

# # df_users = pd.read_parquet('data/ATML2024_users.parquet')
# df_users = pd.read_csv('data/ATML2024_users.csv', header=0, nrows=100)

(138210, 11) Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'attributes', 'categories', 'hours'],
      dtype='object')
(1050000, 9) Index(['id', 'user_id', 'business_id', 'rating', 'useful', 'funny', 'cool',
       'text', 'date'],
      dtype='object')

In [6]:
zipCodes = dict(df_business.postal_code.value_counts())

val_count = 0
for z in zipCodes.keys():
    try:
        zcode = int(z)
        if zcode >= 19019 and  zcode <= 19255: ### Philadelphia zip codes
            val_count += zipCodes[str(z)]
    except:
        continue

print(val_count)

19707

In [7]:
bussiness_city = ['Phila','Philadelphia', 'Philadelphia', 'Philadelphia (Northeast Philly)', 'Philadelphia PA', 'Philadelphila', 'Philadephia', 'Philiadelphia', 
                  'Philiidelphia', 'Philly', 'Southwest Philadelphia', 'West Philadelphia', 'philadelphia', 'PHILA', 'PHILADELPHIA']
print(df_business[df_business['city'].isin(bussiness_city)].shape)

(13617, 11)

### Cleanup business data columns

In [8]:
df_business['postal_code_int'] = pd.to_numeric(df_business['postal_code'], errors='coerce', downcast='integer')
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,attributes,categories,hours,postal_code_int
0,wPYArZCy3AETdTjB-x3fpm,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",63123.0
1,QQNIWVsnAT_iKiKriWrFUt,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",85711.0
2,wm9eoqjytVbC7dQcM4WSTM,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",19107.0
3,AfVDXGIKBUE0EdTw_6cMWm,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",18054.0
4,QjvanH64QUduo6E-8F33FC,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",37015.0

In [77]:
def extract_attributes_value2(attr_dictionary: Dict) -> List:
    values = []
    for (k, v) in attr_dictionary.items():

        try: 
            if isinstance(ast.literal_eval(v), dict):
                for (k2, v2) in ast.literal_eval(v).items():                    
                    if v2:
                        # print(k+"-"+k2)
                        values.append( (k+"-"+k2).lower() )
            elif v:
                values.append(k.lower())
        except:
            if v:
                values.append(k.lower())
    return values

In [78]:
# Convert dictionary columns to the correct types @@@@ Run only once
df_business_ph = df_business.loc[ (df_business['postal_code_int'] >= 19019) & (df_business['postal_code_int'] <= 19255) ].copy()
print(df_business_ph.shape)
df_business_ph['attributes'] = df_business_ph['attributes'].apply(lambda x: ast.literal_eval(x) if not pd.isna(x) or not pd.isnull(x)  else dict())
print(df_business_ph.shape)
df_business_ph['hours'] = df_business_ph['hours'].apply(lambda x: ast.literal_eval(x) if not pd.isna(x) or not pd.isnull(x)  else dict())
print(df_business_ph.shape)

# df_business['weekend'] = df_business['hours'].apply(lambda x: extract_weekend_value(x))
df_business_ph['hours_list'] = df_business_ph['hours'].apply(lambda x: extract_hours_value(x))

print(df_business_ph.shape)

(19707, 12)
(19707, 12)
(19707, 12)
(19707, 13)

In [91]:
df_business_ph['attributes_list'] = df_business_ph['attributes'].apply(lambda x: sorted(extract_attributes_value2(x)))
df_business_ph['categories_list'] = df_business_ph['categories'].apply(lambda x: sorted(map(lambda a: a.strip().lower(), x.split(',')) ) if isinstance(x, str) else [x])

### Join Business Data With Ratings Data and Conduct Exploratory Data Analysis (EDA)

In [169]:
df_business_data = df_business_ph[['business_id', 'postal_code_int', 'attributes_list', 'hours_list', 'categories_list']]
df_ratings_data = df_Train_reviews[['id', 'business_id', 'rating', 'useful', 'funny', 'cool', 'text', 'date']]

df_data = pd.merge(df_business_data, df_ratings_data, left_on= 'business_id', right_on='business_id')
print(df_data.shape)
df_data.head()

(176549, 12)

,business_id,postal_code_int,attributes_list,hours_list,categories_list,id,rating,useful,funny,cool,text,date
0,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",100621,4,1,0,2,So I don't know how the other review was doubl...,2017-08-24 04:23:03
1,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",174063,5,0,0,0,I love this place.. I love their chunky fried...,2020-05-25 16:27:36
2,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",234948,5,0,0,1,I ordered so many cake from here for our famil...,2019-07-25 13:09:14
3,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",285755,4,0,0,0,Ordered a birthday cake here for the first tim...,2019-03-12 17:04:09
4,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",330446,5,1,0,0,This is my favorite bakery in Chinatown! It's ...,2017-09-13 00:38:08

In [170]:
df_data.to_parquet('data/ATML2024_Task2_PhiliBussRatings.parquet')
print(df_data.shape)

(176549, 12)

### Explanatory Data Analysis

In [171]:
df_data = pd.read_parquet('data/ATML2024_Task2_PhiliBussRatings.parquet', engine='pyarrow')
print(df_data.shape)
print(df_data.columns)

df_data_res = df_data[df_data['categories_list'].apply(lambda x: any('restaurants' in str(a).lower() for a in x)
                       or any('restaurant' in str(a).lower() for a in x))]
print(df_data_res.shape)
df_data_res.head()

(176549, 12)
Index(['business_id', 'postal_code_int', 'attributes_list', 'hours_list',
       'categories_list', 'id', 'rating', 'useful', 'funny', 'cool', 'text',
       'date'],
      dtype='object')
(123414, 12)

,business_id,postal_code_int,attributes_list,hours_list,categories_list,id,rating,useful,funny,cool,text,date
0,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",100621,4,1,0,2,So I don't know how the other review was doubl...,2017-08-24 04:23:03
1,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",174063,5,0,0,0,I love this place.. I love their chunky fried...,2020-05-25 16:27:36
2,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",234948,5,0,0,1,I ordered so many cake from here for our famil...,2019-07-25 13:09:14
3,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",285755,4,0,0,0,Ordered a birthday cake here for the first tim...,2019-03-12 17:04:09
4,wm9eoqjytVbC7dQcM4WSTM,19107.0,"[alcohol, bikeparking, businessacceptscreditca...","[[7.0, 20.0], [7.0, 20.0], [7.0, 20.0], [7.0, ...","[bakeries, bubble tea, coffee & tea, food, res...",330446,5,1,0,0,This is my favorite bakery in Chinatown! It's ...,2017-09-13 00:38:08

In [172]:
# all_uniq_cat = set(np.concatenate(df_data.categories_list.values).ravel()) #df_data.categories_list.values.flatten()
# all_uniq_attr = set(np.concatenate(df_data.attributes_list.values).ravel()) #df_data.categories_list.values.flatten()

### 2.2 Food Trends and Restaurant styles

In [173]:
business_cat = np.concatenate(df_data.categories_list.values).ravel()
c = Counter(business_cat)

print(f'Total number of distinct categories of business: {len(c)}')

print(f'The most frequest categories : {c.most_common(10)}')

df_data_res = df_data[df_data['categories_list'].apply(lambda x: any('restaurants' in str(a).lower() for a in x)
                       or any('restaurant' in str(a).lower() for a in x))]

print('We select only the restaurant businesses')                                                       
print(df_data_res.shape)

Total number of distinct categories of business: 1081
The most frequest categories : [('restaurants', 123410), ('food', 47310), ('nightlife', 40206), ('bars', 38164), ('american (new)', 26829), ('breakfast & brunch', 22358), ('american (traditional)', 21800), ('sandwiches', 19789), ('italian', 15313), ('coffee & tea', 14008)]
We select only the restaurant businesses
(123414, 12)

#### 2.2 What is the food trend of Philadelphia

We can analyse the food trends by two ways:

1 -  We have the category information of the restaurants and their rating. We can distribute these ratings among the categories and take an average per category. This approach gives us a generic liking of the certain categories. However, it doesn't show the trend. We also count the number of time a category appeared in the dataset. This shows the interest of the people to the certain style of restaurants. Using the average rating and the frequency we define a score. We sort the categories by this score and take the highest one.

In [174]:
data_cat_ratings =  df_data_res[['id','date','categories_list', 'rating']]
 
data_cat_rating_single = data_cat_ratings.explode('categories_list')
data_cat_rating_single['mean_rating'] = data_cat_rating_single[['categories_list', 'rating']]\
                        .groupby('categories_list')['rating'].transform('mean')

data_cat_rating_single['frequency'] = data_cat_rating_single['categories_list'].map(data_cat_rating_single['categories_list'].value_counts())

data_cat = data_cat_rating_single[['categories_list', 'frequency', 'mean_rating']]\
            .drop_duplicates(keep='last').rename(columns={'categories_list':'categories'}) #.set_index('date')

data_cat.sort_values(by='frequency', ascending=False, inplace=True)
data_cat.head()

                  date    categories  mean_rating
0  2017-08-24 04:23:03      bakeries     4.053803
0  2017-08-24 04:23:03    bubble tea     4.021384
0  2017-08-24 04:23:03  coffee & tea     3.974435
0  2017-08-24 04:23:03          food     3.888642
0  2017-08-24 04:23:03   restaurants     3.781598

In [ ]:
for ind, row in data_cat.iterrows():
    # print(row)
    print(f"Catorgory: {row.categories} - Rating: {round(row.mean_rating, 2)} - Freq: {row.frequency}")

#### 2.3 Suggestions for the restaurants

In [175]:
data_att_ratings =  df_data_res[['id','date','attributes_list', 'rating']]
 
data_att_rating_single = data_att_ratings.explode('attributes_list')
data_att_rating_single['attributes_mean_rating'] = data_att_rating_single[['attributes_list', 'rating']].groupby('attributes_list')['rating'].transform('mean')

data_att = data_att_rating_single[['date', 'attributes_list', 'attributes_mean_rating']]\
            .drop_duplicates(keep='last').rename(columns={'attributes_list':'attributes', 'attributes_mean_rating':'mean_rating'}) #.set_index('date')

data_att.head()

                  date                  attributes  mean_rating
0  2017-08-24 04:23:03                     alcohol     3.785099
0  2017-08-24 04:23:03                 bikeparking     3.804002
0  2017-08-24 04:23:03  businessacceptscreditcards     3.781729
0  2017-08-24 04:23:03      businessparking-street     3.867158
0  2017-08-24 04:23:03           byappointmentonly     4.029273